<div class="p-3">
  <div class="mb-4 text-center">
    <img src="/images/logo.png" alt="ModuCart" style="height:48px">
    <h6 class="mt-2">ModuCart</h6>
  </div>

  <ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link" href="/admin/dashboard">Dashboard</a></li>
    <li class="nav-item"><a class="nav-link" href="/admin/manage-products">Products</a></li>
    <li class="nav-item"><a class="nav-link" href="/admin/manage-orders">Orders</a></li>
    <li class="nav-item"><a class="nav-link" href="/admin/manage-users">Users</a></li>
    <li class="nav-item"><a class="nav-link" href="/admin/reports">Reports</a></li>
    <li class="nav-item"><a class="nav-link" href="/admin/settings">Settings</a></li>
    <li class="nav-item mt-3">
      <form action="/auth/logout" method="post">
        <button class="btn btn-outline-secondary w-100" type="submit">Sign out</button>
      </form>
    </li>
  </ul>
</div>
