<% layout('layouts/admin') %>
<h4>Settings</h4>
<form method="post" action="/admin/settings">
  <div class="mb-3">
    <label class="form-label">Site name</label>
    <input class="form-control" name="siteName" value="ModuCart">
  </div>
  <button class="btn btn-primary">Save</button>
</form>
