<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <main class="container py-5">
      <%- body %>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
